
@import "tailwindcss";

@keyframes bubble {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0;
  }
  20% {
    opacity: 0.6;
  }
  100% {
    transform: translateY(-120vh) scale(1.5);
    opacity: 0;
  }
}

.animate-bubble {
  animation-name: bubble;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
